<footer class="footer font-small pt-4 mt-4">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/images/logo_1.png" alt="8-BLISS" />
            </a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" href="/ProductList/">All</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ProductList/Apparel">Apparel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ProductList/Pins">Pins</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ProductList/Stickers">Stickers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ProductList/Prints">Prints</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="py-1 text-center bg-dark text-muted">
        Copyright 2016-2018 DiffBlue limited. All rights reserved.
    </div>
</footer>