html,
body {
   margin:0;
   padding:0;
   height:100%;
   padding-top: 30px;
}
#wrapper {
   min-height:100%;
   position:relative;
   padding-bottom: 60px;
}
.navbar {
    background-color: #eaeaea;
}

.body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
.row {
    margin-top: 20px;
}
.footer {
   position: absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
}