<!DOCTYPE html>
<html xmlns:th="http://localhost" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="default">
<head>
    <title>Exception</title>
</head>
<body>
<div layout:fragment="content">
    <label>Player One</label>
    <label>Status: </label>
    <label>Exception</label>
    <div>
        <div class="col"><img class="Centered" src="/images/game_over_404.png" alt="Game Over"/></div>
        <div class="col"><a href="/">Insert Coin To Continue</a></div>
        <div class="col"><img src="/images/coin.png" alt="Game Over"/></div>
    </div>
</div>
</body>
</html>

<!--Copyright 2016-2018 Diffblue Limited. All rights reserved.-->
