<!DOCTYPE HTML>
<html xmlns:th="http://localhost" xmlns:layout="http://www.w3.org/1999/xhtml">
    <head>
        <title>8-BLISS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link type="text/css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">8-BLISS</a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/cart">My Cart</a></li>
                    </ul>
                </div>
            </nav>
            <div class="container" layout:fragment="content"><!--Page content goes here--></div>
            <div>
                <p>Copyright 2016-2017 DiffBlue limited. All rights reserved.</p>
            </div>
        </div>
    </body>
</html>
