<!DOCTYPE HTML>
<html xmlns:th="http://localhost" xmlns:layout="http://www.w3.org/1999/xhtml">
    <head>
        <title>8-BLISS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="css/bootstrap.min.css"/>
    </head>
    <body>
        <div layout:fragment="content"><!--Page content goes here--></div>
        <div>
            <p>Copyright 2016-2017 DiffBlue limited. All rights reserved.</p>
        </div>
    </body>
</html>
