<!DOCTYPE HTML>
<html xmlns:th="http://localhost" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="default">
<head>
    <title>Payment | 8-BLISS</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-8">
                <form th:action="@{/payment}" th:object="${paymentForm}" method="post">
                    <div class="row">
                        <div class="col-12"><b>Payment Method</b></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <input th:field="*{cardNumber}" class="form-control" type="text" placeholder="Card Number*"/>
                            <p th:if="${#fields.hasErrors('cardNumber')}" th:errors="*{cardNumber}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <input th:field="*{nameOnCard}" class="form-control" type="text" placeholder="Name on card*"/>
                            <p th:if="${#fields.hasErrors('nameOnCard')}" th:errors="*{cardNumber}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-6">
                            <input th:field="*{expiryDate}" class="form-control" type="text" placeholder="MM/YY*"/>
                            <p th:if="${#fields.hasErrors('expiryDate')}" th:errors="*{expiryDate}"/>
                        </div>
                        <div class="col-6">
                            <input th:field="*{cvv}" class="form-control" type="text" placeholder="CVV*"/>
                            <p th:if="${#fields.hasErrors('cvv')}" th:errors="*{cvv}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <a href="/checkout">Return to customer information</a>
                        </div>
                        <div class="col-6">
                            <button type="submit" value="Submit" class="btn btn-primary btn-lg btn-block">Complete order</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-4">
                <div class="row" th:each="cartItem : ${cart.products}">
                    <div class="col-3">
                        <img th:src="@{/images/}+${cartItem.key.photo}" th:alt="${cartItem.key.category.name}" width="100%"/>
                    </div>
                    <div class="col-7">
                        <div><span th:text="${cartItem.value}"/>x <b th:text="${cartItem.key.collection.name}"></b></div>
                        <div th:text="${cartItem.key.name}"/>
                    </div>
                    <div class="col-2 text-right">
                        <div>£<span th:text="${cartItem.key.price}"/></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">Subtotal:</div>
                    <div class="col-6 text-right">£<span th:text="${cart.subtotal}"/></div>
                </div>
                <div class="row">
                    <div class="col-6">Shipping:</div>
                    <div class="col-6 text-right">£<span th:text="${cart.shipping}"/></div>
                </div>
                <div class="row">
                    <div class="col-6"><b>Total:</b></div>
                    <div class="col-6 text-right"><b>£<span th:text="${cart.total}"/></b></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<!--Copyright 2016-2017 DiffBlue limited. All rights reserved.-->
