<!DOCTYPE HTML>
<html xmlns:th="http://localhost" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="default">
<head>
    <title>Products | 8-BLISS</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>Product List</h1>
        <p>The current product list is: </p>
        <div class="table">
            <div class="row" th:each="product : ${products}">
                <div class="col-2"  th:text="${product.sku}"/>
                <div class="col-4"><a th:href="@{/product/}+${product.id}" th:text="${product.name}"/></div>
                <div class="col-2">£<span th:text="${product.price}"/></div>
            </div>
        </div>
    </div>
</body>
</html>
<!--Copyright 2016-2017 DiffBlue limited. All rights reserved.-->
